services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: petlink_user
      POSTGRES_PASSWORD: petlink_pass
      POSTGRES_DB: petlink_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
